.catagory {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.catagory img {
    width: 300px;
    object-fit: contain;
    max-height: 250px;
    padding: 0px 10px;
}

.catagory Link {
    text-decoration: none;
    color: rgb(35, 35, 35);
    display: flex; /* Added flex to center content */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

.catagory h4, .catagory p {
    text-align: center; 
}

.catagory p {
    font-size: 12px;
    font-weight: bold;
    color: rgb(9, 192, 209);
}

.catagory_container {
    position: relative;
    margin-top: -30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr) );
    max-width: 1600px;
    gap: 50px;
    margin-right: auto;
    margin-left: auto;
    place-items: center;
    width: 100%;
}
